*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
}

body{
    background-color: #f9f9fb;
}
.hed img{
    width: 100%;
}





.pack1{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
  }
  .pack1 img{
    margin-right: 20px;
    width: 30px;
    height: 30px;
  }
  .section{
    padding: 50px 15px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .kolch{
    padding: 0 20px;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 11px 24px 0 rgb(17 43 85 / 10%);
    padding-top: 20px;
  }
  
  .inform{
    display: flex;
    justify-content: space-between;
  }
  
  .kolch .btn1{
    width: 100%;
    color: white;
    background-color: #cb0006;
    border: none;
    height: 40px;
    margin-bottom: 60px;
    margin-top: 20px;
    border-radius: 50px;
    text-align: center;
  }


  input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    outline: rgb(145, 204, 253);
    margin-top: 10px;
    margin-bottom: 18px;
  }
  
.p1{
    font-size: 18px ;
    font-weight: 600;
    margin-bottom: 20px;
}
.p2{
    font-size: 22px ;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-bottom: -35px;
    margin-top: 30px;
}